@model ErrorViewModel
@{
    ViewData["Title"] = "Página no encontrada";
}

<div class="container text-center mt-5">
    <h1 class="display-1 text-danger">404</h1>
    <h2 class="mb-3">Página no encontrada</h2>

    <p class="text-muted">
        La página que buscas no existe.  
        Puedes volver al inicio para seguir navegando.
    </p>

    
    <img src="~/images/error404.png" alt="Error 404" class="img-fluid my-4" style="max-width:400px;" />

    <div>
        <a href="/" class="btn btn-dark btn-lg rounded-pill shadow">
            Volver al inicio
        </a>
    </div>

    @if (Model?.ShowRequestId ?? false)
    {
        
    }
</div>
